# Секреты
.env

# Временные файлы
*.log
*.tmp
*.swp

# Python
__pycache__/
backend/migrations/versions/*.py
*.pyc

# MacOS
.DS_Store

# Opensearch
opensearch/

# Конкретные файлы
promt.txt
backend/app/main.py